@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* main {
  max-width: 1200px; 
  margin: 0 auto;
  width: 90%;
} */

header {
  background-color: #f28cc0;
  height: 90px;
  width: 100%;  /* Não é necessário */
}

.titulo-inicio {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  color: #ffff;
}

.medicina-tech {
  margin-top: 12px;
}

.imagem-medicina {
  width: 100%;
}

.paragrafo-medicina-tech {
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  color: #f28cc0;
  padding: 20px;
}
.novas-tecnologias {
  margin-top: 50px;
}
.saude-tecnologica {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.robo {
  font-size: 30px;
  font-weight: 900;  /* Não está pegando, o peso 900 não foi importado */
  color: #54affc;
}
.robo-cirurgia {
  width: 600px;
  border-radius: 20px;
  margin: 20px 0px;
}

.paragrafo {
  text-align: justify;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 40px;
}

.paragrafo-robo {
  color: #54affc;
  max-width: 560px;
}
.video-explica {
  margin-bottom: 40px;
  text-decoration: none;
  background-color: #54affc;
  color: #ffff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  font-weight: 600;
  border: solid 2px rgb(100, 100, 252);
  border-radius: 20px;
}
.ia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-laboratorio {
  font-size: 30px;
  font-weight: 900;
  color: #f28cc0;
}
.imagem-laboratorio {
  width: 700px;
  border-radius: 20px;
  margin: 20px 0px;
}
.paragrafo-laboratorio {
  color: #f28cc0;
  max-width: 700px;
}
.video-laboratorio {
  margin-bottom: 40px;
  text-decoration: none;
  background-color: #f28cc0;
  color: #ffff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  font-weight: 600;
  border: solid 2px #fa57ab;
  border-radius: 20px;
}
.entrevista {
  margin: 30px;
  display: flex;
}
.imagem-mariana {
  width: 600px;
  margin-right: 20px;
}
.nome-entrevista {
  color: #54affc;
  font-size: 30px;
  margin-bottom: 20px;
}
.paragrafo-entrevista {
  color: #f28cc0;
  font-size: 20px;
  text-align: justify;
  font-weight: 700;
}
.texto-entrevista {
  display: flex;
  flex-direction: column;
}
.video-entrevista {
  margin: 30px;
  text-decoration: none;
  background-color: #f28cc0;
  color: #ffff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px;
  font-weight: 600;
  border: solid 2px #fa57ab;
  border-radius: 20px;
  text-align: center;
}
.contato {
  background-color: #f28cc0;
  height: 100%;  /*  Não precisa   */
  margin: 0 auto;
}
.titulo-final {
  color: #ffff;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

/* Reaproveitar código, p ex dos elementos p e dos a */