@media (max-width: 950px) {
  .entrevista {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto-entrevista {
    text-align: center;
  }
  .paragrafo-entrevista {
    font-size: 20px;
  }
}

/* Deixar as imagens todas com a mesma largura */

@media (max-width: 720px) {
  .imagem-laboratorio,
  .imagem-mariana,
  .robo-cirurgia {
    width: 80%;
  }
  .paragrafo-laboratorio {
    font-size: 20px;
  }
}
/* @media (max-width: 630px) {
  .imagem-mariana {
    width: 90%;
  }
}
@media (max-width: 590px) {
  .robo-cirurgia {
    width: 80%;
  }
} */
@media (max-width: 500px) {
  .paragrafo-medicina-tech {
    font-size: 35px;
  }
}
@media (max-width: 740px) {
  main {
    max-width: 1200px;  /*  Não faz sentido colocar largura máxima de 1200px dentro de uma regra onde a largura max da tela é 740px. Essa regra do main deve ser aplicada no css normal, não na responsividade  */
    margin: 0 auto;
    width: 90%;
  }
}
